<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.catenoid.dashbd.dao.ContentsMapper" >

	<select id="selectContents" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT id cid, title, category, duration , 
				(select path from contents_images where cid = content_id and type = 'thumbnail' order by id desc limit 1) path
				, (select count(*) from contents
							WHERE 1=1
					<if test="title != null and title !=''" >
						AND title like concat('%',#{title} , '%')
					</if>
					<if test="category != null and category !=''" >
						AND category like concat('%',#{category} , '%')
					</if>
					)as totalCount 
		FROM contents
		WHERE 1=1
		<if test="title != null and title !=''" >
			AND title like concat('%',#{title} , '%')
		</if>
		<if test="category != null and category !=''" >
			AND category like concat('%',#{category} , '%')
		</if>
		limit #{page}, #{perPage}
	</select>
	
  <insert id = "insertContent" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO contents(
			type
			, title
			, category
			, director
			, actors
			, content_provider
			, file_format
			, age_restriction
			, description
			, url
			, duration
			, bitrate
		)VALUES(#{type}
			, #{title}
			, #{category}
			, #{director}
			, #{actors}
			, #{content_provider}
			, #{file_format}
			, #{age_restriction}
			, #{description}
			, #{url}
			, #{duration}
			, #{bitrate}
		)
	</insert>
	
	<update id = "updateContent" parameterType="java.util.Map">
		UPDATE contents SET
			type = #{type}
			, title = #{title} 
			<if test="category != null and category !=''" >
				, category = #{category}
			</if>
			<if test="director != null and director !=''" >
				, director = #{director}
			</if>
			<if test="actors != null and actors !=''" >
				, actors = #{actors}
			</if>
			<if test="content_provider != null and content_provider !=''" >
				, content_provider = #{content_provider}
			</if>
			<if test="file_format != null and file_format !=''" >
				, file_format = #{file_format}
			</if>
			<if test="age_restriction != null and age_restriction !=''" >
				, age_restriction = #{age_restriction}
			</if>
			<if test="description != null and description !=''" >
				, description =#{description}
			</if>
			<if test="url != null and url !=''" >
				, url = #{url}
			</if>
			<if test="duration != null and duration !=''" >
				, duration =  #{duration}
			</if>
			<if test=" bitrate != null and bitrate !=''" >
				, bitrate = #{bitrate} 
			</if>
		WHERE id = #{id}
	</update>
	
	<select id="selectContent" parameterType="java.util.Map" resultType="java.util.Map">
			SELECT *
			FROM contents
	 		WHERE
			id = #{id}		
	</select>
	
	<select id="selectContentImages" parameterType="java.util.Map" resultType="java.util.Map">
			SELECT *
			FROM contents_images
	 		WHERE
			content_id = #{id}
			AND
			type = #{type}
	</select>

	
  <resultMap id="BaseResultMap" type="com.catenoid.dashbd.dao.model.Contents" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="director" property="director" jdbcType="VARCHAR" />
    <result column="actors" property="actors" jdbcType="VARCHAR" />
    <result column="content_provider" property="contentProvider" jdbcType="VARCHAR" />
    <result column="file_format" property="fileFormat" jdbcType="VARCHAR" />
    <result column="age_restriction" property="ageRestriction" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="duration" property="duration" jdbcType="INTEGER" />
    <result column="bitrate" property="bitrate" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.catenoid.dashbd.dao.model.Contents" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="and" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="or" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  or ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  or ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  or ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  or ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, type, title, category, director, actors, content_provider, file_format, age_restriction, url, duration, bitrate, created_at, updated_at
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.catenoid.dashbd.dao.model.ContentsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from contents
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitByClause != null" >
      limit ${limitByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.catenoid.dashbd.dao.model.ContentsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from contents
    <if test="_parameter != null" >
      <include refid="Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitByClause != null" >
      limit ${limitByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from contents
    where id = #{id,jdbcType=INTEGER}
  </select>  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from contents
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.catenoid.dashbd.dao.model.ContentsExample" >
    delete from contents
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.catenoid.dashbd.dao.model.Contents" >
    insert into contents (id, type, title, category, director, 
      actors, content_provider, file_format, age_restriction, url, duration, bitrate, 
      created_at, updated_at, description
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{director,jdbcType=VARCHAR}, 
      #{actors,jdbcType=VARCHAR}, #{contentProvider,jdbcType=VARCHAR}, #{fileFormat,jdbcType=VARCHAR}, #{ageRestriction,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{duration,jdbcType=INTEGER}, #{bitrate,jdbcType=INTEGER}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{description,jdbcType=LONGVARCHAR}
      )
    <selectKey resultType="int" keyProperty="id" order="AFTER"> 
         SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.catenoid.dashbd.dao.model.Contents" >
    insert into contents
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
      	type,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="director != null" >
        director,
      </if>
      <if test="actors != null" >
        actors,
      </if>
      <if test="contentProvider != null" >
        content_provider,
      </if>
      <if test="fileFormat != null" >
        file_format,
      </if>
      <if test="ageRestriction != null" >
        age_restriction,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="bitrate != null" >
        bitrate,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
      	#{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="director != null" >
        #{director,jdbcType=VARCHAR},
      </if>
      <if test="actors != null" >
        #{actors,jdbcType=VARCHAR},
      </if>
      <if test="contentProvider != null">
        #{contentProvider,jdbcType=VARCHAR},
      </if>
      <if test="fileFormat != null">
        #{fileFormat,jdbcType=VARCHAR},
      </if>
      <if test="ageRestriction != null" >
        #{ageRestriction,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="bitrate != null" >
        #{bitrate,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
    <selectKey resultType="int" keyProperty="id" order="AFTER"> 
         SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  

  <select id="countByExample" parameterType="com.catenoid.dashbd.dao.model.ContentsExample" resultType="java.lang.Integer" >
    select count(*) from contents
    <if test="_parameter != null" >
      <include refid="Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update contents
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
      	type = #{record.type,jdbcType=VARCHAR}
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.director != null" >
        director = #{record.director,jdbcType=VARCHAR},
      </if>
      <if test="record.actors != null" >
        actors = #{record.actors,jdbcType=VARCHAR},
      </if>
      <if test="record.contentProvider != null" >
        content_provider = #{record.contentProvider,jdbcType=VARCHAR},
      </if>
      <if test="record.fileFormat != null" >
        file_format = #{record.fileFormat,jdbcType=VARCHAR},
      </if>
      <if test="record.ageRestriction != null" >
        age_restriction = #{record.ageRestriction,jdbcType=INTEGER},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.duration != null" >
        duration = #{record.duration,jdbcType=INTEGER},
      </if>
      <if test="record.bitrate != null" >
        bitrate = #{record.bitrate,jdbcType=INTEGER},
      </if>
      <if test="record.createdAt != null" >
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
        updated_at = now(),
      <if test="record.description != null" >
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update contents
    set id = #{record.id,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=VARCHAR},
      director = #{record.director,jdbcType=VARCHAR},
      actors = #{record.actors,jdbcType=VARCHAR},
      content_provider = #{record.contentProvider,jdbcType=VARCHAR},
      file_format = #{record.fileFormat,jdbcType=VARCHAR},
      age_restriction = #{record.ageRestriction,jdbcType=INTEGER},
      url = #{record.url,jdbcType=VARCHAR},
      duration = #{record.duration,jdbcType=INTEGER},
      bitrate = #{record.bitrate,jdbcType=INTEGER},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_at = now(),
      description = #{record.description,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update contents
    set id = #{record.id,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=VARCHAR},
      director = #{record.director,jdbcType=VARCHAR},
      actors = #{record.actors,jdbcType=VARCHAR},
      content_provider = #{record.contentProvider,jdbcType=VARCHAR},
      file_format = #{record.fileFormat,jdbcType=VARCHAR},
      age_restriction = #{record.ageRestriction,jdbcType=INTEGER},
      url = #{record.url,jdbcType=VARCHAR},
      duration = #{record.duration,jdbcType=INTEGER},
      bitrate = #{record.bitrate,jdbcType=INTEGER},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_at = now()
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.catenoid.dashbd.dao.model.Contents" >
    update contents
    <set >
      <if test="type != null" >
      	type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="director != null" >
        director = #{director,jdbcType=VARCHAR},
      </if>
      <if test="actors != null" >
        actors = #{actors,jdbcType=VARCHAR},
      </if>
      <if test="contentProvider != null" >
        content_provider = #{contentProvider,jdbcType=VARCHAR},
      </if>
      <if test="fileFormat != null" >
        file_format = #{fileFormat,jdbcType=VARCHAR},
      </if>
      <if test="ageRestriction != null" >
        age_restriction = #{ageRestriction,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="bitrate != null" >
        bitrate = #{bitrate,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
        updated_at = now(),
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.catenoid.dashbd.dao.model.Contents" >
    update contents
    set type = #{type,jdbcType=VARCHAR}, 
      title = #{title,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      director = #{director,jdbcType=VARCHAR},
      actors = #{actors,jdbcType=VARCHAR},
      content_provider = #{contentProvider,jdbcType=VARCHAR},
      file_format = #{fileFormat,jdbcType=VARCHAR},
      age_restriction = #{ageRestriction,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=INTEGER},
      bitrate = #{bitrate,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = now(),
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.catenoid.dashbd.dao.model.Contents" >
    update contents
    set type = #{type,jdbcType=VARCHAR}, 
      title = #{title,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      director = #{director,jdbcType=VARCHAR},
      actors = #{actors,jdbcType=VARCHAR},
      content_provider = #{contentProvider,jdbcType=VARCHAR},
      file_format = #{fileFormat,jdbcType=VARCHAR},
      age_restriction = #{ageRestriction,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=INTEGER},
      bitrate = #{bitrate,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>