<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.catenoid.dashbd.dao.HotSpotMapper" >

	<select id="selectCityFromCircleId" parameterType="HashMap" resultType="HashMap">
		SELECT 
			city_id, circle_id, circle_name, city_code, city_name, latitude, longitude, description, bandwidth, created_at as createdAt, updated_at as updatedAt
		FROM city
		where circle_id = #{circleId}
	</select>
	
	<select id="selectHotSpotFromCityId" parameterType="HashMap" resultType="HashMap">
		SELECT 
			hotspot_id, city_id, city_name, hotspot_code, hotspot_name, latitude, longitude, description, bandwidth, created_at as createdAt, updated_at as updatedAt
		FROM hotspot
		where city_id = #{cityId}
	</select>
	
	<select id="selectHotSpotFromCityIdCount" parameterType="HashMap" resultType="int">
		SELECT 
			COUNT(*)
		FROM hotspot
		where city_id = #{cityId}
	</select>
	
	<delete id="deleteHotSpot" parameterType="String">
		DELETE FROM hotspot
		where hotspot_id = #{hotspotId}
	</delete>
	
	<insert id="insertHotSpot" parameterType="HashMap">
		INSERT INTO hotspot (hotspot_id, city_id, city_name, hotspot_name, description, latitude, longitude, bandwidth, created_at, updated_at) 
		VALUES (#{hotSpotId}, #{cityId}, #{cityName}, #{hotSpotName}, #{description}, ${latitude}, ${longitude}, #{bandwidth}, NOW(), NOW())
		ON DUPLICATE KEY UPDATE
		longitude = ${longitude}, latitude = ${latitude}
	</insert>
	
</mapper>