<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.catenoid.dashbd.dao.LogMapper" >
  <resultMap id="LogMap" type="com.catenoid.dashbd.dao.model.Log" >
    <id column="sysId" property="sysId" jdbcType="INTEGER" />
    <result column="target_id" property="targetId" jdbcType="VARCHAR" />
    <result column="req_type" property="reqType" jdbcType="VARCHAR" />
    <result column="req_sub_type" property="reqSubType" jdbcType="VARCHAR" />
    <result column="req_url" property="reqUrl" jdbcType="VARCHAR" />
    <result column="req_code" property="reqCode" jdbcType="VARCHAR" />
    <result column="req_msg" property="reqMsg" jdbcType="VARCHAR" />
    <result column="insert_at" property="insertAt" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="DATE" />
  </resultMap>
  
  <select id="selectLogDate" parameterType="HashMap" resultMap="LogMap">
  		SELECT sysId, target_id, req_type, req_sub_type, req_url, req_code, req_msg, insert_at, created_at
			, service_type, service_class, service_id, said
  		FROM system_ajax_log
  		WHERE insert_at BETWEEN #{searchDateFrom} AND #{searchDateTo}
  		  AND req_type IN(${reqType})
  		  <if test="searchKeyword != '' and searchKeyword != null">
  		  	AND target_id = #{searchKeyword}
  		  </if>
  		  <if test="serviceType != '' and serviceType != null">
  		  	AND service_type = #{serviceType}
  		  </if>
  		  <if test="serviceClass != '' and serviceClass != null">
  		  	AND service_class = #{serviceClass}
  		  </if>
  		  <if test="serviceId != '' and serviceId != null">
  		  	AND service_id = #{serviceId}
  		  </if>
  		  <if test="choiceTreeStr != '' and choiceTreeStr != null">
  		  	  AND 
	  		  <foreach collection="choiceList" item="obj" open="(" close=")" separator="or">
	  		  		CONCAT(',', said, ',')  LIKE CONCAT('%,', #{obj}, ',%')
	  		  </foreach>
  		  </if>
  		ORDER BY created_at DESC
  </select>
</mapper>