<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.catenoid.dashbd.dao.StatusNotifyMapper" >
  <resultMap id="BaseResultMap" type="com.catenoid.dashbd.dao.model.StatusNotify" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="transaction_id" property="transactionId" jdbcType="INTEGER" />
    <result column="agent_key" property="agentKey" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="INTEGER" />
    <result column="service_id" property="serviceId" jdbcType="INTEGER" />
    <result column="bmsc_id" property="bmscId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.catenoid.dashbd.dao.model.StatusNotifyWithBLOBs" extends="BaseResultMap" >
    <result column="message" property="message" jdbcType="LONGVARCHAR" />
    <result column="saillst" property="saillst" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, transaction_id, agent_key, code, service_id, bmsc_id
  </sql>
  <sql id="Blob_Column_List" >
    message, saillst
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.catenoid.dashbd.dao.model.StatusNotifyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from status_notify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.catenoid.dashbd.dao.model.StatusNotifyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from status_notify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from status_notify
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from status_notify
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.catenoid.dashbd.dao.model.StatusNotifyExample" >
    delete from status_notify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.catenoid.dashbd.dao.model.StatusNotifyWithBLOBs" >
    insert into status_notify (id, transaction_id, agent_key, 
      code, service_id, bmsc_id, 
      message, saillst)
    values (#{id,jdbcType=INTEGER}, #{transactionId,jdbcType=INTEGER}, #{agentKey,jdbcType=VARCHAR}, 
      #{code,jdbcType=INTEGER}, #{serviceId,jdbcType=INTEGER}, #{bmscId,jdbcType=INTEGER}, 
      #{message,jdbcType=LONGVARCHAR}, #{saillst,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.catenoid.dashbd.dao.model.StatusNotifyWithBLOBs" >
    insert into status_notify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="transactionId != null" >
        transaction_id,
      </if>
      <if test="agentKey != null" >
        agent_key,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="serviceId != null" >
        service_id,
      </if>
      <if test="bmscId != null" >
        bmsc_id,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="saillst != null" >
        saillst,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="transactionId != null" >
        #{transactionId,jdbcType=INTEGER},
      </if>
      <if test="agentKey != null" >
        #{agentKey,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=INTEGER},
      </if>
      <if test="serviceId != null" >
        #{serviceId,jdbcType=INTEGER},
      </if>
      <if test="bmscId != null" >
        #{bmscId,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        #{message,jdbcType=LONGVARCHAR},
      </if>
      <if test="saillst != null" >
        #{saillst,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.catenoid.dashbd.dao.model.StatusNotifyExample" resultType="java.lang.Integer" >
    select count(*) from status_notify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update status_notify
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.transactionId != null" >
        transaction_id = #{record.transactionId,jdbcType=INTEGER},
      </if>
      <if test="record.agentKey != null" >
        agent_key = #{record.agentKey,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=INTEGER},
      </if>
      <if test="record.serviceId != null" >
        service_id = #{record.serviceId,jdbcType=INTEGER},
      </if>
      <if test="record.bmscId != null" >
        bmsc_id = #{record.bmscId,jdbcType=INTEGER},
      </if>
      <if test="record.message != null" >
        message = #{record.message,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.saillst != null" >
        saillst = #{record.saillst,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update status_notify
    set id = #{record.id,jdbcType=INTEGER},
      transaction_id = #{record.transactionId,jdbcType=INTEGER},
      agent_key = #{record.agentKey,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=INTEGER},
      service_id = #{record.serviceId,jdbcType=INTEGER},
      bmsc_id = #{record.bmscId,jdbcType=INTEGER},
      message = #{record.message,jdbcType=LONGVARCHAR},
      saillst = #{record.saillst,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update status_notify
    set id = #{record.id,jdbcType=INTEGER},
      transaction_id = #{record.transactionId,jdbcType=INTEGER},
      agent_key = #{record.agentKey,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=INTEGER},
      service_id = #{record.serviceId,jdbcType=INTEGER},
      bmsc_id = #{record.bmscId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.catenoid.dashbd.dao.model.StatusNotifyWithBLOBs" >
    update status_notify
    <set >
      <if test="transactionId != null" >
        transaction_id = #{transactionId,jdbcType=INTEGER},
      </if>
      <if test="agentKey != null" >
        agent_key = #{agentKey,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=INTEGER},
      </if>
      <if test="serviceId != null" >
        service_id = #{serviceId,jdbcType=INTEGER},
      </if>
      <if test="bmscId != null" >
        bmsc_id = #{bmscId,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=LONGVARCHAR},
      </if>
      <if test="saillst != null" >
        saillst = #{saillst,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.catenoid.dashbd.dao.model.StatusNotifyWithBLOBs" >
    update status_notify
    set transaction_id = #{transactionId,jdbcType=INTEGER},
      agent_key = #{agentKey,jdbcType=VARCHAR},
      code = #{code,jdbcType=INTEGER},
      service_id = #{serviceId,jdbcType=INTEGER},
      bmsc_id = #{bmscId,jdbcType=INTEGER},
      message = #{message,jdbcType=LONGVARCHAR},
      saillst = #{saillst,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.catenoid.dashbd.dao.model.StatusNotify" >
    update status_notify
    set transaction_id = #{transactionId,jdbcType=INTEGER},
      agent_key = #{agentKey,jdbcType=VARCHAR},
      code = #{code,jdbcType=INTEGER},
      service_id = #{serviceId,jdbcType=INTEGER},
      bmsc_id = #{bmscId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>